.inlinelist li {
  display: inline;
  list-style-type: none;
  padding-left: 10px;
  float:right;
}

#imgpadding {
  padding-bottom:20px;
}

.sidebarlink  {
  padding-top:10px;
  list-style:none;
  padding-left:0;
}

hr  {
  margin:0;
  padding:0;
  width:150px;

}

.pright {
  float:right;
}


.longhr {
  width:auto;
  border-top:1px solid#000;

}
.left {
  position:absolute;
  left:0;
  width:200px;
  padding-left:20px;
}

.main {
  position:absolute;
  left:200px;
}

body  {
  background-color:white;
}

.welcome {
  float:right;
}

#galaxyfloatleft  {
  float:left;
}

.galaxyfloatright  {
  float:right;
}

#panelleftbg  {
  background-color:#f5fffa;
}

#panelrightbg  {
  background-color:#f5faff;
}

#bottompanelbg  {
  background-color:#afa3bf;
}

#bottombg {
  background-color:#faf5ff;
}

#welcomeleft  {
  display:inline-block;
}

#welcomeright {
  float:right;
  text-align:right;
}
